{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Math Quizzes</h1>
    <p class="lead">Practice your math skills.</p>

    <div class="home-grid">
        <a href="{{ url_for('math_quizzes.multiply') }}" class="grid-item">
            <div class="grid-icon">✖️</div>
            <div class="grid-title">Multiplication Quiz</div>
        </a>
        <a href="{{ url_for('math_quizzes.divide') }}" class="grid-item">
            <div class="grid-icon">➗</div>
            <div class="grid-title">Division Quiz</div>
        </a>
        <a href="{{ url_for('math_quizzes.multiply_flash') }}" class="grid-item">
            <div class="grid-icon">⚡</div>
            <div class="grid-title">Multiplication Flashcards</div>
        </a>
        <a href="{{ url_for('math_quizzes.divide_flash') }}" class="grid-item">
            <div class="grid-icon">⚡</div>
            <div class="grid-title">Division Flashcards</div>
        </a>
        <a href="{{ url_for('math_quizzes.math_flash') }}" class="grid-item">
            <div class="grid-icon">🎲</div>
            <div class="grid-title">Random Math Flashcards</div>
        </a>
    </div>
</div>
{% endblock content %}