{% extends 'layout.html' %} {% block content %}
<div class="goal">
  <h1 class="med">{{ verbose }}</h1>
  <p>My resolution for 2019 is to run {{ goal }} miles.</p>
  <p>
    Today is day number {{ doy }} which means the year is already
    {{ percent_year }} over.
  </p>
  <p>
    To get to {{ total }} miles I've run for over {{ year_hours }} hours this
    year! {{ month_miles }} of those miles were logged in {{ month }}.
  </p>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
  <p class="about">
    Built using the Strava API, Google Apps Script, Python, and Flask.
  </p>
</div>

{% endblock content %}
